streamlit>=1.40,<2
langchain==0.3.27
langchain-core==0.3.72
langchain-community==0.3.27
langchain-openai==0.3.28
langchain-text-splitters
openai
faiss-cpu
pypdf
docx2txt
python-dotenv
Pylance